asgiref==3.8.1
backports.zoneinfo==0.2.1;python_version<"3.9"
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.3.2
cryptography==43.0.0
defusedxml==0.8.0rc2
Django==4.2.15
django-appconf==1.0.6
django-browser-reload==1.15.0
django-compressor==4.5.1
django-extensions==3.2.3
django-libsass==0.9
django-sass-processor==1.4.1
idna==3.8
MarkupSafe==2.1.5
oauthlib==3.2.2
pillow==10.4.0
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.9.0
pyOpenSSL==24.2.1
python-decouple==3.8
python3-openid==3.2.0
rcssmin==1.1.2
requests==2.32.3
requests-oauthlib==2.0.0
rjsmin==1.2.2
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.6
Werkzeug==3.0.4
whitenoise==6.7.0
