

.dashboard{
    margin: 20px;
    padding-top: 2rem;

    .hd{
        width: 100%;

        h2{
        color: #8a8793;
    }

    .dashboard-line{
        width: 60%;
        height: 1px;
        background: #ffbeff;
        margin: 3rem 0rem 0rem 2rem;
        box-shadow: 4px 3px 4px 0.5px #3c797d;
    }
    }
   


}