.reset-password{
    width: 100%;
    padding: 10px;

    h2{
        color: #01d4d4;
    }

    p{
        color: orange;
        padding-top: 0.5rem;
    }

    form{
        display: flex;
        background-color: #f0f9f9;
        padding: 20px;
        flex-direction: column;
        margin-top: 1rem;
        

        input{
            padding: 10px;
            width: 89%;
            border: 1px solid #d7d7d7;    
        }

        button{
            border: none;
            width: 50%;
            padding: 10px;
            margin: 10px;
            font-size: 1.1rem;
            font-weight: 600;
            color: grey;
            background-color: #7bdcff;

        }
    }
}
.password_reset_complete, .password-reset-confirm{
        p{
            color: orange;
        }

    form{
        display: flex;
        background-color: #f0f9f9;
        padding: 20px;
        flex-direction: column;
        

        ul{
            li{
                color: #a27973 !important;
                margin: 0.5rem;
            }
        }

        input{
            padding: 10px;
            width: 89%;
            border: 1px solid #d7d7d7;    
        }
        

        button{
            border: none;
            width: 50%;
            padding: 10px;
            margin: 10px;
            font-size: 1.1rem;
            font-weight: 600;
            color: grey;
            background-color: #7bdcff;

        }
    }
    
}

.password-reset-done{

h2{
    color: #01d4d4;
    padding-bottom: 0.5rem;
}

p{
color: orange;
}

padding: 20px;
}