{% extends "base.html" %}

{% block title %} login to your account {% endblock %}
{% block content %}

<div class='login'>
    <h2>De Bees Social</h2>
    <div class='card'>

        {% if form.errors %}
            <p class='form-error'>
                Invalid username or password
            </p>
        {% endif %}
        <form action="{% url 'login' %}" method="post" class=''>
             {{form.as_div}}
             {% csrf_token %}
            
             <input type='hidden' name='next' value="{{ next }}" />
             <button class='btn' type='submit'>Log in </button>

             <p>Don't have an account?<a href="{% url 'register' %}">Register here </a> </p>
        </form>

        <p>
            <a href="{% url 'password_reset' %}">
                Forgotten your password?
            </a>
        </p>
    </div>
</div>
{% endblock content %}
