{% extends 'base.html' %}

{% block title %} password reset confirm {% endblock %}


{% block content %}
    <div style="padding: 10px;" class='password-reset-confirm'>
        <h2 style="color:#06d5d5">Reset your password </h2>

        
        {% if validlink %}
        <p> Please enter your new password twice </p>
           <form method='post'>
                {{ form.as_p }}

                {% csrf_token %}
            
                <button> Change my password </button>
            
            </form>

            {% else %}
           
            
            

                <p style='color: orange;, text-align: left; line-height: 1.5rem'> The password reset link was invalid, possibly because it has been expired or used. <br /> Please request a new password reset.  </p>
        {% endif %}
    </div>
{% endblock %}