
<div style='background-color:black; width:100%; margin:0 auto;'>

<p style="color:orange; font-size:1.1rem; font-weight: 500; text-align:left;">There is a suspicious request in your account for password reset with email {{email}}. Follow the link below 👇👇👇👇👇 <br/>

{{protocol}}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}  to reset your account.
</p>

<p style="color: white; font-weight: 450; "> 
    Your username if you have Forgotten is 
    <strong style="color: orange;">{{ user.get_username }}</strong> 
</p>

</div>